<div class="jumbotron error-page">
  <h1>Internal Server Error</h1>
  <p>We're sorry, but something went wrong.
    If you are the application owner check the logs for more information.
  </p>
</div>

<h3>Details:</h3>

<pre>
<%= env['sinatra.error'].backtrace.join("\n") if env['sinatra.error'].backtrace %>
<%= env['sinatra.error'].message if env['sinatra.error'].message %>
</pre>
