<form action="/rnode/<%= host %>/<%= port %>/matlab/index.html" method="" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-registered"></i> "Connect to Matlab"
  </button>
</form>
