<form action="/rnode/<%= host %>/<%= port %>/auth" method="get" target="_blank">
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-cogs"></i> Connect to OpenWebUI
  </button>
</form>
